In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as sc
%matplotlib inline
sns.set(style="whitegrid", color_codes=True, context='paper')
import random
random.seed(1111111111111)
plt.rc('axes', grid=False, titlesize='large', labelsize='medium',labelweight='heavy')
plt.rc('lines', linewidth=4)
plt.rc('font',family='serif',size=12, serif='Georgia')
plt.rc('figure', figsize = (15,6),titlesize='large',titleweight='heavy')
plt.rc('grid',linewidth=3)
sns.set_palette('cubehelix')
from scipy.signal import *
from numpy.linalg import *

In [2]:
data = pd.read_excel("../Data/data 03.xlsx")

In [3]:
data.head()

         sec  to   from
0  315522000   24   153
1  315522000   24   153
2  315522000   29    29
3  315522000   29    29
4  315522000   29    29

In [4]:
data.tail()

               sec  to   from
125404  1024665343   17    17
125405  1024681054  162    17
125406  1024681054  162   155
125407  1024681054  162   165
125408  1024688419   17    17

In [5]:
data['timestamp']=pd.to_datetime(data['sec'], unit='s')

In [6]:
data  = data.set_index('timestamp')

In [7]:
data.head()

                           sec  to   from
timestamp
1979-12-31 21:00:00  315522000   24   153
1979-12-31 21:00:00  315522000   24   153
1979-12-31 21:00:00  315522000   29    29
1979-12-31 21:00:00  315522000   29    29
1979-12-31 21:00:00  315522000   29    29

In [9]:
data.to_excel("../Data/data 03.1.xlsx")

In [23]:
y98 = pd.date_range(start='1/1/1998', end='31/12/1998', freq='M')

In [10]:
data = pd.read_excel("../Data/data 03.2.xlsx")

In [11]:
data.head()

            timestamp  to   from  year  month
0 1979-12-31 21:00:00   24   153  1979     12
1 1979-12-31 21:00:00   24   153  1979     12
2 1979-12-31 21:00:00   29    29  1979     12
3 1979-12-31 21:00:00   29    29  1979     12
4 1979-12-31 21:00:00   29    29  1979     12